.dxs-wrapper {
    .el-table td, .el-table th {
        padding: 0;
        height: 40px;
    }
    .el-button--text {
        border: none;

    }
    .el-cascader--small {
        width: 240px;
    }
    .el-input--small {
        width: 220px;
    }
    .com-input {
        .el-input-group__prepend {
            background: transparent;
            padding: 0 10px;
        }
        .el-input__inner {
            border-left: 0;
            &:focus {
                outline: none;
            }

        }
        .el-input__suffix {
            display: flex;
            align-items: center;
        }
    }
}